.content h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
.content .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
}
.content .input-box input{
    background: transparent;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
}