 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
    color: white;
} 

body{
    min-height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://th.bing.com/th/id/R.3dc5f998e54c345e8fdcb69fbe304051?rik=23kwO9bHYTPS4A&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
}
.content {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 35px;}