.button a{
    color: #1f0a0a;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}
.button a i {
    font-size: 20px;
    margin-right: 8px;
}
.button a:hover {
    opacity: 0.8;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contact-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}