.btnn {
    display: inline-block;
    background: white;
    color: #0a2862;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 5px rgba(39, 6, 6, 0.1);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 16px;

}
.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}